{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <style>
        {% block style %} {% endblock style %}
    </style>

    <title>{% block title %} {% endblock title %} | Covid MSys</title>
  </head>
  <body >
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Covid Msys</a>
          </button>
            <form class="d-flex" action='{% block btna %}{% endblock btna %}'>
              <button class="btn btn-outline-success" type="submit" >{% block btname %}{% endblock btname %}</button>
            </form>
          </div>
        </div>
    </nav>
    
    {% block body %} {% endblock body %}

    <footer class="bg-light text-center text-white" style="position: fixed; bottom: 0; width: 100%;">
      {% block footer %} {% endblock footer %}
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright:
          <a class="text-white" href="#">CovidMSys</a>
        </div>
        <!-- Copyright -->
    </footer>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{% static 'bootstrap/bootstrap.bundle.js' %}" type="text/javascript"></script>
  </body>
</html>