{% extends 'base.html' %}

{% block title %}Dash{% endblock title %}

{% block style %}{% endblock style %}

{% block body %}

<main class='card-group container-fluid vh-90'>
    <div class="card mx-3 my-2" style="width: 18rem; max-height: 85vh;">
        <div class="card-header">
            All Patients
        </div>
        {% if patients %}
        <div class="card-body ">
            <ul class="list-group list-group-flush" style="overflow: auto; max-height: 85vh;">
                {% for pt in patients %}
                <li class="list-group-item my-2">{{pt.name}}
                    <span style="position: absolute; right: 5%; bottom: 10%;"> <a href="/dashboard/edit/{{pt.id}}/"
                            class="btn btn-sm btn-warning">Edit</a></span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <div class="card-body">
            No Patients Yet
        </div>
        {% endif %}
    </div>

    <div class="card mx-3 my-2" style="width: 18rem; max-height: 85vh;">
        <div class="card-header">
            Patient Registration Form
        </div>
        <div class="card-body">
            {% if ptname %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ptname}}</strong> is a Covid Patient
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="my-3">
                    <label class="form-label">Full name</label>
                    {% if patient_id %}
                    <input class="form-control" type="text" name="name" value="{{patient_id.name}}">
                    {% else %}
                    <input class="form-control" type="text" name="name">
                    {% endif %}
                </div>

                <div class="my-3">
                    <label class="form-label">Birthday <span class="text-muted">(Unchangeable)</span></label>
                    <div class="input-group-icon">
                        {% if patient_id %}
                        <input class="form-control" type="text" name="dob" value="{{patient_id.dob}}" disabled readonly>
                        {% else %}
                        <input class="form-control" type="date" name="dob">
                        {% endif %}
                    </div>
                </div>

                <div class="my-3">
                    <label class="form-label">Gender</label>
                    {% if patient_id.gender == 'Female' %}
                    <label class="form-check-label my-2 mx-5">
                        <input type="radio" value='Male' class="form-check-input" name="gender"> : Male</label>
                    <label class="form-check-label mx-5">
                        <input type="radio" value='Female' checked="checked" class="form-check-input" name="gender"> : Female</label>
                    {% else %}
                    <label class="form-check-label my-2 mx-5">
                    <input type="radio" value='Male' checked="checked" class="form-check-input" name="gender"> : Male</label>
                    <label class="form-check-label mx-5">
                    <input type="radio" value='Female' class="form-check-input" name="gender"> : Female</label>
                        {% endif %}
                </div>
                <div class="card-title">
                    <strong> Choose Symptoms </strong>
                </div>

                <div class="form-check my-2">
                    <input class="form-check-input" type="checkbox" value="True" id="fever" name='fever'>
                    <label class="form-check-label" for="fever">
                        Fever
                    </label>
                </div>
                <div class="form-check my-2">
                    <input class="form-check-input" type="checkbox" value="True" id="cough" name='cough'>
                    <label class="form-check-label" for="cough">
                        Cough
                    </label>
                </div>
                <div class="form-check my-2">
                    <input class="form-check-input" type="checkbox" value="True" id="headache" name='headache'>
                    <label class="form-check-label" for="headache">
                        Headache
                    </label>
                </div>
                <div class="form-check my-2">
                    <input class="form-check-input" type="checkbox" value="True" id="diarrhea" name='diarrhea'>
                    <label class="form-check-label" for="diarrhea">
                        Diarrhea
                    </label>
                </div>
                <div class="form-check my-2">
                    <input class="form-check-input" type="checkbox" value="True" id="tasteless" name='tasteless'>
                    <label class="form-check-label" for="tasteless">
                        No sence of Taste or Smell
                    </label>
                </div>


                <button class="btn btn-lg btn-success mt-5"
                    style="position: relative; padding: 2% 30%; margin-left: 12%;" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <div class="card mx-3 my-2" style="width: 18rem; max-height: 85vh;">
        <div class="card-header">
            Covid Patients
        </div>
        {% if covid_patients %}
        <div class="card-body">
            <ul class="list-group list-group-flush" style="overflow: auto; max-height: 85vh;">
                {% for cpt in covid_patients %}
                <li class="list-group-item my-2">{{cpt}}
                    <span style="position: absolute; right: 5%; bottom: 10%;"> 
                        <a href="/dashboard/recovered/{{cpt.id}}/" class="btn btn-sm btn-success" data-toggle="tooltip" title="Recovered"><i class="bi bi-check2-circle"></i></a>
                        <a href="/dashboard/dead/{{cpt.id}}/" class="btn btn-sm btn-danger" data-toggle="tooltip" title="Dead"><i class="bi bi-x-octagon-fill"></i></a>
                        <a href="/dashboard/discharged/{{cpt.id}}/" class="btn btn-sm btn-primary" data-toggle="tooltip" title="Discharged"><i class="bi bi-lightning-charge-fill"></i></a></span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <div class="card-body">
            No Covid Patients Yet
        </div>
        {% endif %}
    </div>

</main>

{% endblock body %}

{% block btname %}LogOut{% endblock btname %}
{% block btna %}/login{% endblock btna %}