{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block style %}{% endblock style %}

{% block btname %}{{btname}}{% endblock btname %}
{% block btna %} {{btna}} {% endblock btna %}

{% block body %}

<main class="container fluid">
  <center> <h3 style="margin-top: 2.5%;"> <u><i> Welcome to Covid Managment System</h3> </i> </u></center>

  <div style="display: flex; flex-wrap: wrap; flex-basis: 50%; padding-left: 11%;">

  <div class="card mx-5 my-5" style="width: 15rem; height: 15rem; align-items: center;">
    <h4 class="card-title my-3">Total Patients</h4>
    <strong style="margin-top: 15%; font-size: x-large; ">{{total_patents}}</strong>
  </div>
  <div class="card mx-5 my-5" style="width: 15rem; height: 15rem; align-items: center;">
    <h4 class="card-title my-3">Covid Patients</h4>
    <strong style="margin-top: 15%; font-size: x-large; ">{{covid_patents}}</strong>
  </div>
  <div class="card mx-5 my-5" style="width: 15rem; height: 15rem; align-items: center;">
    <h4 class="card-title my-3">Under Treatment</h4>
    <strong style="margin-top: 15%; font-size: x-large; ">{{under_treatment}}</strong>
  </div>
  <div class="card mx-5 my-5" style="width: 15rem; height: 15rem; align-items: center;">
    <h4 class="card-title my-3">Total Recovered</h4>
    <strong style="margin-top: 15%; font-size: x-large; ">{{total_recovered}}</strong>
  </div>
  <div class="card mx-5 my-5" style="width: 15rem; height: 15rem; align-items: center;">
    <h4 class="card-title my-3">Total Dead</h4>
    <strong style="margin-top: 15%; font-size: x-large; ">{{total_dead}}</strong>
  </div>
  <div class="card mx-5 my-5" style="width: 15rem; height: 15rem; align-items: center;">
    <h4 class="card-title my-3">Total Discharged</h4>
    <strong style="margin-top: 15%; font-size: x-large; ">{{total_discharged}}</strong>
  </div>
  </div>
</main>

{% endblock body %}

{% comment %} {% block footer %}
<!-- Grid container -->
<div class="container p-4 pb-0">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
            Sign up Your Hospital for Covid Record Managment
            </p>
          </div>
          <!--Grid column-->
          
          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Name input -->
            <div class="form-outline form-white mb-4">
              <input type="text" id="rn" class="form-control" placeholder="Type your Registered Hospital Name"/>
            </div>
          </div>
          <!--Grid column-->
          
          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              join
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->
{% endblock footer %} {% endcomment %}

