{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block style %}{% endblock style %}

{% block btname %}{{btname}}{% endblock btname %}
{% block btna %} {{btna}} {% endblock btna %}

{% block body %}

<main class="container-fluid vh-90">
  <h2 class="text-center mt-5">Welcome to Covid Record Managment System</h2>

  <div class="container" style="display: flex; flex-wrap: wrap; padding: 0% 5%;">

  <div class="card mx-5 my-5" style="width: 15rem; height: 15rem; align-items: center;">
    <h4 class="card-title my-3">Total Patients</h4>
    <strong style="margin-top: 15%; font-size: x-large; ">{{total_patents}}</strong>
  </div>
  <div class="card mx-5 my-5" style="width: 15rem; height: 15rem; align-items: center;">
    <h4 class="card-title my-3">Covid Patients</h4>
    <strong style="margin-top: 15%; font-size: x-large; ">{{covid_patents}}</strong>
  </div>
  <div class="card mx-5 my-5" style="width: 15rem; height: 15rem; align-items: center;">
    <h4 class="card-title my-3">Under Treatment</h4>
    <strong style="margin-top: 15%; font-size: x-large; ">{{under_treatment}}</strong>
  </div>
  <div class="card mx-5 my-5" style="width: 15rem; height: 15rem; align-items: center;">
    <h4 class="card-title my-3">Total Recovered</h4>
    <strong style="margin-top: 15%; font-size: x-large; ">{{total_recovered}}</strong>
  </div>
  <div class="card mx-5 my-5" style="width: 15rem; height: 15rem; align-items: center;">
    <h4 class="card-title my-3">Total Dead</h4>
    <strong style="margin-top: 15%; font-size: x-large; ">{{total_dead}}</strong>
  </div>
  <div class="card mx-5 my-5" style="width: 15rem; height: 15rem; align-items: center;">
    <h4 class="card-title my-3">Total Discharged</h4>
    <strong style="margin-top: 15%; font-size: x-large; ">{{total_discharged}}</strong>
  </div>
  </div>
</main>

{% endblock body %}